<div class="page-404">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="display-1">404</h1>
                <div class="four-zero-four-bg"></div>
                <div class="content-box-404">
                    <h3>Look like you're lost</h3>
                    <p>The page you are looking for is not available!</p>
                    <a href="" class="link-404">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
