<!-- Navbar Header Section -->
<header class="navbar navbar-expand-lg navbar-light bg-light px-3 py-2 shadow-sm">
    <div class="container-fluid d-flex align-items-center">
        <!-- Logo and Title Section -->
        <a class="navbar-brand d-flex align-items-center">
            <!-- Company Logo -->
            <img src="assets/images/logo.png" alt="Company Logo" class="navbar-logo me-2" />
            <!-- Site Title -->
            <span class="navbar-title">Simplified Coding</span>
        </a>

        <!-- Language Selection Dropdown -->
        <div #dropdownMenu class="dropdown me-3">
            <button
                class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center"
                (click)="toggleDropdown()"
            >
                <!-- Display Selected Language Icon and Name -->
                <img
                    [src]="'assets/logo/' + selectedLanguage.img"
                    alt="{{ selectedLanguage.value }}"
                    class="me-1 dropdown-icon"
                />
                {{ selectedLanguage.value }}
            </button>
            <!-- Dropdown Menu for Language Options -->
            <ul class="dropdown-menu" [ngClass]="{ show: dropdownOpen }">
                <li *ngFor="let language of languages">
                    <!-- Option to Select a Language -->
                    <button class="dropdown-item" (click)="selectLanguage(language)">
                        <img
                            [src]="'assets/logo/' + language.img"
                            alt="{{ language.value }}"
                            class="me-1 dropdown-icon"
                        />
                        {{ language.value }}
                    </button>
                </li>
            </ul>
        </div>

        <!-- Icons Section (GitHub, LinkedIn, and Theme Toggle) -->
        <div>
            <ul class="navbar-nav ms-auto">
                <!-- GitHub Icon Button -->
                <li class="nav-item github">
                    <a class="nav-link" href="https://github.com/Karan0005" target="_blank">
                        <i class="bi bi-github"></i
                    ></a>
                </li>
                <!-- LinkedIn Icon Button -->
                <li class="nav-item linkedin ps-2">
                    <a
                        class="nav-link"
                        href="https://www.linkedin.com/in/karangupta0005"
                        target="_blank"
                        ><i class="bi bi-linkedin"></i
                    ></a>
                </li>
                <!-- Theme Toggle Button -->
                <li class="nav-item ps-2">
                    <button class="toggle-button" id="toggle-button" (click)="toggleTheme()">
                        <i class="bi bi-moon-fill moon"></i>
                        <i class="bi bi-brightness-high-fill sun"></i>
                        <span class="ball"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Main Editor Area -->
<main class="container-fluid editor-area">
    <div class="row">
        <!-- Code Editor Section (Left) -->
        <section class="col-lg-8 col-md-12 mb-4 code-editor">
            <!-- Monaco Editor Component for Code Input -->
            <app-monaco-editor
                [(value)]="selectedLanguage.code"
                [language]="selectedLanguage.value"
                [theme]="selectedTheme"
                (valueChange)="onEditorChange($event)"
                class="editor"
            ></app-monaco-editor>
        </section>

        <!-- Code Settings and Output Section (Right) -->
        <aside class="col-lg-4 col-md-12 code-setting">
            <form class="card p-2">
                <!-- Execution Power and Timeout Selection Fields -->
                <div class="row">
                    <!-- Execution Power Dropdown -->
                    <div class="col-6 mb-3">
                        <label for="executionPowerDropdown" class="form-label"
                            >Execution Power</label
                        >
                        <select
                            class="form-select"
                            id="executionPowerDropdown"
                            name="executionPowerDropdown"
                            [(ngModel)]="compileRequest.ExecutionPower"
                        >
                            <!-- Dynamically populated options for execution power -->
                            <option
                                *ngFor="let executionPower of executionPowers"
                                [value]="executionPower"
                            >
                                {{ executionPower }}
                            </option>
                        </select>
                    </div>
                    <!-- Timeout Dropdown -->
                    <div class="col-6 mb-3">
                        <label for="timeoutDropdown" class="form-label">Timeout</label>
                        <select
                            class="form-select"
                            id="timeoutDropdown"
                            name="timeoutDropdown"
                            [(ngModel)]="compileRequest.TimeOut"
                        >
                            <!-- Dynamically populated options for timeout -->
                            <option *ngFor="let timeout of timeouts" [value]="timeout.value">
                                {{ timeout.label }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Runtime Input Textarea -->
                <div class="mb-3 input">
                    <label for="runtimeInputs" class="form-label">Runtime Input</label>
                    <textarea
                        name="runtimeInputs"
                        id="runtimeInputs"
                        rows="4"
                        class="form-control no-resize"
                        placeholder="Enter your Input Here..."
                        [(ngModel)]="compileRequest.RunTimeInput"
                    ></textarea>
                </div>

                <!-- Output Textarea -->
                <div class="mb-3 output">
                    <label for="output" class="form-label">Output</label>
                    <textarea
                        name="output"
                        id="output"
                        rows="4"
                        class="form-control no-resize"
                        [(ngModel)]="compileResult"
                        readonly
                    ></textarea>
                </div>

                <!-- Compile Button -->
                <button
                    type="submit"
                    class="btn btn-primary w-100"
                    (click)="compile()"
                    [disabled]="compileResult === 'Compiling...'"
                >
                    Compile
                </button>
            </form>
        </aside>
    </div>
</main>
