//Logo Size
$nav-bgcolor: #303030;
$nav-text: #fff;
@mixin flex {
    display: flex;
    align-items: center;
}
header {
    background-color: $nav-bgcolor;

    img {
        width: 50px;
    }
    a {
        color: $nav-text;
    }
    ul {
        li {
            a {
                border: 1px solid #6e6e6e;
                width: 250px;
                padding: 5px;
                border-radius: 2px;
                @include flex;
                justify-content: space-between;
                color: $nav-text;
            }
            ul {
                height: 300px;
                overflow-y: auto;
                width: 100%;
                margin-left: 0px;
                background: #484848;
                scrollbar-color: #6292f7 #292929;
                scrollbar-width: thin;
                scroll-behavior: smooth;
                li {
                    margin: 10px;
                    color: #fff;
                    border-bottom: 1px solid #666666;
                    img {
                        width: 30px;
                        margin-bottom: 5px;
                    }
                }
            }
            .dropdown-selected {
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                    margin-right: 10px;
                }
            }
        }
    }
    .social-links {
        @include flex;
        .theme {
            background-color: #111;
            width: 52px;
            height: 28px;
            border-radius: 50px;
            position: relative;
            padding: 4px !important;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px;
            .ball {
                background-color: #fff;
                width: 20px;
                height: 20px;
                position: absolute;
                border-radius: 50%;
                transition: transform 0.2s linear;
            }
            .sun {
                color: #ffc166;
            }
            .moon {
                color: #dbdbdb;
            }
        }

        i {
            font-size: 18px;
        }
    }
}
