/* Importing Monaco Editor styles and variable settings */
@import '~monaco-editor/min/vs/editor/editor.main.css'; // Import Monaco Editor core styles
@import './variables.scss'; // Import your custom variables (like colors, fonts, etc.)

/* Font imports */
@font-face {
    font-family: 'Roboto', Arial, sans-serif;
    src: url('assets/fonts/roboto/bold.ttf') format('truetype'),
        // Bold font variant
        url('assets/fonts/roboto/light.ttf') format('truetype'),
        // Light font variant
        url('assets/fonts/roboto/medium.ttf') format('truetype'),
        // Medium font variant
        url('assets/fonts/roboto/regular.ttf') format('truetype'),
        // Regular font variant
        url('assets/fonts/roboto/thin.ttf') format('truetype'); // Thin font variant
}

/* General reset for border-radius globally */
* {
    border-radius: 0 !important; // Disable rounded corners globally
    box-sizing: border-box; /* Ensure consistent box-sizing across elements */
}

/* General body styles */
body {
    font-family: $roboto-font-family; // Apply Roboto font globally
    color: $primary-text-color; // Primary text color
    overflow-y: hidden; // Disable vertical scroll for full-page layout
    height: 100%; // Set height to 100% of viewport
    background-color: $background-light; // Default background for light mode

    /* Dark theme overrides */
    &.dark {
        background-color: $background-dark; // Dark mode background

        h1 {
            color: #fff; /* White text color for headers in dark mode */
        }

        /* Form-specific dark theme styles */
        form {
            .form-label {
                color: #d1d1d1 !important; // Light text for form labels in dark mode
            }
            .form-select,
            .form-control {
                border: 1px solid #373737 !important; // Darker borders for form elements
                color: #d7d7d7; // Light text inside form elements
            }
            .form-select {
                option {
                    background: #262626; // Dark background for dropdown options
                }
            }
            .input {
                textarea::placeholder {
                    color: #d7d7d7; /* Lighter placeholder text color in dark mode */
                }
            }
        }
    }
}

/* Theme toggle button styles */
.toggle-button {
    background-color: $toggle-background; // Dark background for the toggle button
    width: 48px; // Width of the toggle switch
    height: 24px; // Height of the toggle switch
    border-radius: 50px !important; // Rounded corners for toggle switch
    position: relative; // Allows absolute positioning of inner elements
    padding: 5px; // Padding inside the toggle switch
    cursor: pointer; // Change cursor to pointer for clickable elements
    display: flex; // Flexbox for horizontal alignment
    justify-content: space-between; // Space between icons (sun/moon)
    align-items: center; // Align items vertically
    border: none; // No border for the toggle button
    outline: none; // Remove focus outline

    /* Ball inside the toggle switch */
    .ball {
        background-color: #fff; // White color for the ball inside the switch
        width: 20px; // Size of the ball (diameter)
        height: 20px; // Height of the ball (diameter)
        position: absolute; // Absolute positioning inside the toggle switch
        left: 2px; // Initial position from the left
        top: 2px; // Initial position from the top
        border-radius: 50% !important; // Circular shape
        transition: transform 0.2s linear; // Smooth transition when the ball moves

        /* Move ball to the right in dark mode */
        body.dark & {
            transform: translateX(24px); // Shift the ball to the right in dark mode
        }
    }

    .sun {
        color: $sun-color; /* Yellow color for the sun icon */
    }

    .moon {
        color: $background-light; /* White color for the moon icon */
    }
}

/* Media query for screens smaller than 992px (large desktop breakpoint) */
@media (max-width: 992px) {
    body {
        overflow-y: auto; // Enable vertical scrolling for smaller screens
    }
}
